---
import { getCollection } from "astro:content";

import ContentLayout from "@/layouts/ContentLayout.astro";
import PostCard from "@/components/PostCard.astro";
import * as post from "@/content/pages/index.md";

const posts = await getCollection("posts");
const recentPosts = posts.slice(0, 10);

recentPosts.sort((a, b) => new Date(b.data.created) - new Date(a.data.created));
---

<ContentLayout title="Logs | 0x15BA88FF" styleclasses={post.frontmatter.styleclasses}>
    <div class="prose"><post.Content /></div>
    <hr class="my-4 border-surface-500"/>
    <div class="flex items-end justify-between mt-8">
        <h1 class="text-2xl font-bold">Recent Posts</h1>
        <a href="/logs/posts" class="hover:text-primary-500">See all</a>
    </div>
    <ul class="my-4">
        {recentPosts.length > 0 ? recentPosts.map(post => (
            <li>
                <PostCard slug={post.slug} title={post.data.title} description={post.data.description} tags={post.data.tags} />
            </li>
        )) : (
            <li>
                <p class="mb-4 p-8 font-bold text-center">No Posts Found.</p>
            </li>
        )}
    </ul>
</ContentLayout>
